<%- include partials/header.ejs %>
<!-- Home -->
<div id="home" class="hero-area">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url(https://images.unsplash.com/photo-1518081397142-04b89e08fdfe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9ff3ee03c233de37fb5586ebefeee8a&auto=format&fit=crop&w=1350&q=80)"></div>
  <!-- /Backgound Image -->

  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="white-text">Dispensador de pastilles</h1>
          <p class="lead white-text">Aconsegueix una millor gestió dels medicaments utilitzant el dispensador de pastilles automàtic PillDispenser</p>
          <a class="main-button icon-button" href="#">Entra!</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /Home -->

<!-- About -->
<div id="about" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <div class="col-md-6">
        <div class="section-header">
          <h2>Què és Pill Dispenser?</h2>
          <p class="lead">PillDispenser és una eina pensada per facil·litar el control i monitoritzament dels medicaments de persones grans o dependents</p>
        </div>

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-user"></i>
          <div class="feature-content">
            <h4>Configuració fàcil </h4>
            <p>Gràcies a la interfaç web és possible controlar i configurar fàcilment el producte</p>
          </div>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-medkit"></i>
          <div class="feature-content">
            <h4>Control dels medicaments</h4>
            <p>Permet deixar preparats els medicaments de tota una setmana</p>
          </div>
        </div>
        <!-- /feature -->

        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h4>Desenvolupament</h4>
            <p>És un producte obert a noves propostes que permetin millorar-ne les funcions</p>
          </div>
        </div>
        <!-- /feature -->

      </div>

      <div class="col-md-6">
        <div class="about-img">
          <img src="./im1.png" alt="">
        </div>
      </div>

    </div>
    <!-- row -->

  </div>
  <!-- container -->
</div>
<!-- /About -->



<!-- Why us -->
<div id="why-us" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">
      <div class="section-header text-center">
        <h2>Per què Pill Dispenser?</h2>
        <p class="lead">Pill Dispenser no és l'únic producte del seu tipus disponible, però presenta diversos aventatges respecte als altres</p>
      </div>

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-eur"></i>
          <div class="feature-content">
            <h4>Preu baix</h4>
            <p>Presenta un preu baix comparat amb altres productes que tenen funcionalitats no gaire superiors</p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-mobile"></i>
          <div class="feature-content">
            <h4>Control remot</h4>
            <p>El sistema integrat al dispensador permet el control i monitoritzament remot</p>
          </div>
        </div>
      </div>
      <!-- /feature -->

      <!-- feature -->
      <div class="col-md-4">
        <div class="feature">
          <i class="feature-icon fa fa-heartbeat"></i>
          <div class="feature-content">
            <h4>Capacitat</h4>
            <p>Té capacitat per emmagetzamar la medicació de tota una setmana</p>
          </div>
        </div>
      </div>
      <!-- /feature -->

    </div>
    <!-- /row -->

    <hr class="section-hr">

    <!-- row -->
    <div class="row">

      <div class="col-md-6">
        <h3>Sobre el projecte</h3>
        <p class="lead" style="text-align:justified">"El desenvolupament del dispositiu ha suposat un gran aprenentatge i serà relevant als meus futurs estudis"</p>
        <p>Pill dispenser ha estat desenvolupat dins del marc del treball de recerca que, com a estudi de batxillerat, he hagut de realitzar durant aquest primer curs.
          El projecte va començar al adonar-me del forat que hi ha a l'hora de poder monitoritzar de manera senzilla la medicació de persones grans i el fet que els dispositius
          disponibles tenen uns costos molt elevats.
          Durant tot aquest curs he dedicat bona part del meu temps lliure a crear aquest projecte i he relatat el treball realitzat en una memòria que es pot trobar en format pdf
          a aquesta web. Per altra banda, tot el codi es troba disponible a GithHub.
        </p>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="about-img">
          <img src="./im2.png" alt="">
        </div>
      </div>

    </div>
    <!-- /row -->

  </div>
  <!-- /container -->

</div>
<!-- /Why us -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta2-background.jpg)"></div>
  <!-- Backgound Image -->

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="white-text">Contacte</h2>
        <p class="lead white-text">Per qualsevol dubte sobre el projecte, pots contactar utilitzant l'adreça electrònica pamargantal@gmail.com</p>
        <a class="main-button icon-button" href="#">Contact Us Now</a>
      </div>

    </div>
    <!-- /row -->

  </div>
  <!-- /container -->

</div>
<!-- /Contact CTA -->

<!-- Footer -->
<footer id="footer" class="section">

  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <!-- footer logo -->
      <!-- <div class="col-md-6">
        <div class="footer-logo">
          <a class="logo" href="index.html">
            <img src="./img/logo.png" alt="logo">
          </a>
        </div>
      </div> -->
      <!-- footer logo -->

      <!-- footer nav -->
      <!-- <div class="col-md-6">
        <ul class="footer-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div> -->
      <!-- /footer nav -->

    </div>
    <!-- /row -->

    <!-- row -->
    <div id="bottom-footer" class="row">

      <!-- social -->
      <!-- <div class="col-md-4 col-md-push-8">
        <ul class="footer-social">
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div> -->
      <!-- /social -->

      <!-- copyright -->
      <div class="col-md-8 col-md-pull-4">
        <div class="footer-copyright">
          <span>&copy; Copyright 2018 <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span>
        </div>
      </div>
      <!-- /copyright -->

    </div>
    <!-- row -->

  </div>
  <!-- /container -->

</footer>
<!-- /Footer -->

<!-- preloader -->
<div id='preloader'><div class='preloader'></div></div>
<!-- /preloader -->


<!-- jQuery Plugins -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>

<!--
  <div class="row" id="content1">
    <div class="col-sm column1">
      <div class="container">
      <div class="card bg-light mb-3" >
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </div>
    </div>

    <div class="col-sm column1">
      <div class="container">
      <div class="card bg-light mb-3" >
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </div>
    </div>


    <div class="col-sm column1">
      <div class="container">
      <div class="card bg-light mb-3">
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </div>
    </div>
</div>
<div class="container-fluid">

<div id="seccio1" class="row">
<div class="col-7" id="text1">
ssssssssssssssss
</div>
<div id="image1" class="col">e</div>
</div>
</div> -->


  </div>
