
body{
  /* margin: 1em; */
  /* background-color: rgba(163, 163, 193, 0.89); */
}
#menu{
  /* background-color: rgba(143, 143, 200, 0.89); */
  padding:15px;
}
#element1{

}
.intro{
  margin-top: 5px;
  margin-bottom: 5px;
  /* border-style: solid;
  border-radius: 3px;
  padding:1em;
  margin-bottom:1.5em; */
}
.horari{
  padding:1em;
  margin-bottom:1.5em;
}
.horari{
  margin:1em;
}

.setm{
  float:right;
  /* width:1em; */
}
.item{
  font-size: 0.85em;
  margin-bottom: 1em;
}
.input{
  height: 1.5em;
  font-size: 1em;

}
.badge{
  vertical-align:middle;
}
