
body{
  /* margin: 1em; */
  /* background-color: rgba(163, 163, 193, 0.89); */
}
#menu{
  /* background-color: rgba(143, 143, 200, 0.89); */
  padding:15px;
}
#element1{

}
.panel:hover{
 background:rgb(95, 97, 110);
 color: white;
}
/* .alerta:hover {
transform: translateX(-5px); /* edit X/Y as per requirements */
} */
/* .data1{
  border-right-style: solid;
  border-color: grey;
  border-width: 1px;
}
.data2{
  border-left-style: solid;
  border-color: grey;
  border-width: 1px;
} */
.intro{
  margin-top: 5px;
  margin-bottom: 5px;
  /* border-style: solid;
  border-radius: 3px;
  padding:1em;
  margin-bottom:1.5em; */
}
.horari{
  padding:1em;
  margin-bottom:1.5em;
}
.horari{
  margin:1em;
}

.setm{
  float:right;
  /* width:1em; */
}
.item{
  font-size: 0.85em;
  margin-bottom: 1em;
}
.input{
  height: 1.5em;
  font-size: 1em;

}
.badge{
  vertical-align:middle;
}
#seccio1{
  height:15em;
  margin-top: 1.5em;
}
#text1{
}
#image1{
  background-image: url(https://images.unsplash.com/photo-1512069772995-ec65ed45afd6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b603cc47dfe34e6d2127785c090c7e3e&auto=format&fit=crop&w=377&q=80);
  background-size: cover;
}

.column1{
  padding:0.5em;
margin-right: 0.5em;
margin-top: 0.5em;
}
#content1{
  padding-left: 6em;
  padding-right: 6em;
}
#jumbotron{
  background-image: url(https://images.unsplash.com/photo-1518081397142-04b89e08fdfe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9ff3ee03c233de37fb5586ebefeee8a&auto=format&fit=crop&w=1350&q=80);
}
.jumboTitle{
  font-size: 4em;
  color: rgb(229, 230, 238);
}
